<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Flights</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/flights">All Flights</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/flights/new">Add a Flight</a>&nbsp;&nbsp;
  </nav>
