<%- include('./partials/header')%>
<header id="head">

<h1>Flights</h1>
<img src="https://clipart-library.com/new_gallery/16-169059_plane-png-image-airplane-clip-art.png" class="image1"="airplane">

</header>
<%- include('./partials/footer')%>