* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: greenyellow;
}

#head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image1 {
  height: auto;
}

img {
  height: 50px;
}

nav {
  display: flex;
  justify-content: left;

  font-size: 20px;
}

a {
  color: #00B7FF;
}

#arrival {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

.new-ticket {
  background-color: greenyellow;
  border-radius: 50px;
  border: 3px grey solid;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}